:root {
  --title-text-color: #212121;
  --descr-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--title-text-color);
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
}

.features-title,
.projects-title {
  display: none;
}

/* header */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo > span {
  color: #000000;
}
.logo:hover {
  cursor: pointer;
}

.header-list .link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;
}

.contacts .link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
}
.header-list .link:hover,
.header-list .link:focus,
.header-list .link.current,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero section */

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}

/* features */

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descr-text-color);
}

/* services */

.services .services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */

.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team .descr {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--descr-text-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}
.footer .logo > span {
  color: var(--primary-white-color);
}
.footer .address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address > .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.address .footer-link {
  font-weight: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* portfolio page */
.projects-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  cursor: pointer;
}
.projects-button:hover,
.projects-button:focus,
.projects-button:active {
  background: var(--accent-color);
  color: var(--primary-white-color);
}
.projects-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects-list .descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--descr-text-color);
}
